/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.idea
composer.lock
package-lock.json
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
